<%- model_class = Event -%>
<div class="page-header">
  <h1><%= @event.name %></h1>
</div>

<dl class="dl-horizontal">
  <%= @event.description %>
  
  <br><br>

  <%= @votes_presenter.build_dates_by_participant_votes_table %>

  <%= link_to 'Vote', new_event_vote_path(@event), class: 'btn btn-medium btn-primary' %>
</dl>
